<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>🧁 Menú & Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menú & Tienda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Catálogo de Productos</ion-card-title>
      <ion-card-subtitle>Descubre nuestros deliciosos productos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Aquí encontrarás todos nuestros productos disponibles para pedido.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
